.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(200, 200, 200, 0.7), rgba(255, 255, 255, 0.7)), url('/img/robot.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  color: #000;
  min-height: 600px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introSection {
  padding: 4rem 0;
  background-color: var(--ifm-background-color);
}

.testimonialsSection {
  padding: 4rem 0;
  background-color: #f9f9f9;
}

.clientsSection {
  padding: 4rem 0;
  background-color: var(--ifm-background-color);
  text-align: center;
}

.clientLogo {
  padding: 1rem;
  border-radius: 8px;
  background-color: #eef2f7;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
  border: 1px solid #ddd;
}

@media screen and (max-width: 996px) {
  .clientLogo {
    margin-bottom: 1rem;
  }
}